@model StoreSearchModel
@{
    
}

<h2 class="pb-4 text-center"> Products</h2>

<form class="row g-3 mb-3">
    <div class="col-lg-2 col-md-4">
        <select class="form-select" name="brand" asp-for="Brand" onchange="this.form.submit()" >
            <option value="">All Brands</option>
            <option value="Apple">Apple</option>
            <option value="Samsung">Samsung</option>
            <option value="Dell">Dell</option>
            <option value="HP">HP</option>
            <option value="Canon">Canon</option>
            <option value="Nikon">Nikon</option>    
        </select>

    </div>
    <div class="col-lg-2 col-md-4">
        <select class="form-select" name="category" asp-for="Category" onchange="this.form.submit()">
            <option value="">All Categories</option>
            <option value="Phones">Phones</option>
            <option value="Computers">Computers</option>
            <option value="Accessories">Accessories</option>
            <option value="Printers">Printers</option>
            <option value="Cameras">Cameras</option>
            <option value="Other">Other</option>
            </select>
    </div>

    <div class="col-lg-2 col-md-4">
        <select class="form-select" name="sortOrder" asp-for="SortOrder" onchange="this.form.submit()">
            <option value="">All</option>
            <option value="newest">Order By Newest</option>
            <option value="price_asc">Price: Low to High</option>
            <option value="price_desc">Price: High to Low</option>
        </select>
    </div>
    <div class="col-lg-6 col-md-12 d-flex">
        <input class="form-control me-2" type="search" name="search" asp-for="Search" placeholder="Search by name or brand" value="@Model.Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>   
    </div>

</form>

<div class="row mb-5 g-3">
    @foreach (var product in ViewBag.Products)
    {
        <div class="col-lg-3 col-md-6 ">
            <div class=" shadow rounded border mb-4 text-center h-100">
                <img src="~/products/@product.ProductImage" class="img-fluid align-self-center" alt="..." style="height:180px; object-fit:contain " />
                <hr />

                <div class="card-body">
                    <h5 class="card-title">
                        @product.ProductName
                    </h5>
                    <p>Brand: @product.Brand, Category: @product.Category  </p>


                    <h4 class="mb-3">$@(product.ProductPrice)</h4>

                    <a class="btn btn-sm btn-primary  align-content-center mb-2" style="height:36px" asp-controller="Store" asp-action="Details" asp-route-productId="@product.ProductId">Details</a>



                    <button type="button" class="btn btn-warning btn-sm mb-2 r" onclick="addToCart(this, @product.ProductId) ">
                        <div class="d-inline-flex">
                        <div style="height:26px " class=" align-content-center me-1">Add to Cart</div> 
                        <i class="bi bi-cart4"></i>  
                        </div>
                    </button>

                    

                </div>
            </div>

        </div>
    }

</div>

<div class="container">
    <div class="row ">
        <div class=" col d-flex justify-content-center  ">
            <nav>
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                    {
                        <li class="page-item @(i == ViewBag.PageIndex ? "active" : "")">
                            <a class="page-link" asp-route-pageIndex="@i" asp-route-brand="@Model.Brand" asp-route-category="@Model.Category"
                            asp-route-search="@Model.Search" asp-route-sortOrder="@Model.SortOrder"
                            >@i</a>
                        </li>
                    }


                </ul>
            </nav>
        </div>
    </div>
</div>
